In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)

In [2]:
data=pd.read_excel('Student Applications & Performances.xlsx')

In [3]:
data.head(3)

,STUDENT IDENTIFIER,STDNT_AGE,STDNT_GENDER,STDNT_BACKGROUND,IN_STATE_FLAG,INTERNATIONAL_STS,STDNT_MAJOR,STDNT_MINOR,STDNT_TEST_ENTRANCE1,STDNT_TEST_ENTRANCE2,STDNT_TEST_ENTRANCE_COMB,FIRST_TERM,CORE_COURSE_NAME_1_F,CORE_COURSE_GRADE_1_F,CORE_COURSE_NAME_2_F,CORE_COURSE_GRADE_2_F,CORE_COURSE_NAME_3_F,CORE_COURSE_GRADE_3_F,CORE_COURSE_NAME_4_F,CORE_COURSE_GRADE_4_F,CORE_COURSE_NAME_5_F,CORE_COURSE_GRADE_5_F,CORE_COURSE_NAME_6_F,CORE_COURSE_GRADE_6_F,SECOND_TERM,CORE_COURSE_NAME_1_S,CORE_COURSE_GRADE_1_S,CORE_COURSE_NAME_2_S,CORE_COURSE_GRADE_2_S,CORE_COURSE_NAME_3_S,CORE_COURSE_GRADE_3_S,CORE_COURSE_NAME_4_S,CORE_COURSE_GRADE_4_S,CORE_COURSE_NAME_5_S,CORE_COURSE_GRADE_5_S,CORE_COURSE_NAME_6_S,CORE_COURSE_GRADE_6_S,HOUSING_STS,RETURNED_2ND_YR,DISTANCE_FROM_HOME,HIGH_SCHL_GPA,HIGH_SCHL_NAME,FATHER_HI_EDU_CD,FATHER_HI_EDU_DESC,MOTHER_HI_EDU_CD,MOTHER_HI_EDU_DESC,DEGREE_GROUP_CD,DEGREE_GROUP_DESC,FIRST_TERM_ATTEMPT_HRS,FIRST_TERM_EARNED_HRS,SECOND_TERM_ATTEMPT_HRS,SECOND_TERM_EARNED_HRS,GROSS_FIN_NEED,COST_OF_ATTEND,EST_FAM_CONTRIBUTION,UNMET_NEED
0,7808615,18,F,BGD 1,Y,N,Undeclared,N,NaN,1150.0,1150.0,200708,ANTH 1105,A,ARTH 1100,A,ENGL 1102,A,PSYC 1101,A,NaN,NaN,NaN,NaN,200802,CHEM 1151,A,CHEM 1151L,A,COMM 1110,A,ITDS 2749,A,NaN,NaN,NaN,NaN,On Campus,0,150.0,4.00,SCHOOL 50,NaN,No Information,NaN,No Information,B,Bachelors,16,16,14.0,14.0,0,0,0,0.0
1,7830063,19,F,BGD 1,N,N,Undeclared,N,26.0,NaN,1190.0,200808,ANTH 1105,A,GERM 1002,A,ITDS 2735,A,MATH 1125,A,THEA 1100,A,POLS 1101,A,200902,ECON 2105,A,ENGL 1102,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Off Campus,1,69.0,2.89,SCHOOL 389,3.0,College/Beyond,3.0,College/Beyond,B,Bachelors,18,18,18.0,18.0,570000,1355760,785760,459300.0
2,7847538,18,M,BGD 1,Y,N,Mathematics,N,NaN,1020.0,1030.0,201008,ANTH 1105,A,ENGL 1101,A,HIST 2111,A,MATH 1111,A,SOCI 1101,A,NaN,NaN,201102,ENGL 1102,A,ENVS 1105,A,MUSC 1100,A,NaN,NaN,NaN,NaN,NaN,NaN,On Campus,1,150.0,3.39,SCHOOL 82,2.0,High School,4.0,Other/Unknown,B,Bachelors,15,15,14.0,14.0,0,0,0,0.0

In [5]:
data.shape

(3400, 56)

In [7]:
%run dqr.py

In [8]:
report=dataQuality(data)

In [9]:
report.keys()

dict_keys(['numeric', 'categorical'])

In [10]:
report['numeric']

,Count,Unique,Miss_per,Min,Max,Mean,Median,Std,Q1,Q3,q99
MOTHER_HI_EDU_CD,2911.0,5.0,0.143824,1.0,4.0,2.571281e+00,3.0,0.611729,2.00,3.00,4.00
FATHER_HI_EDU_CD,2968.0,5.0,0.127059,1.0,4.0,2.560647e+00,3.0,0.681273,2.00,3.00,4.00
SECOND_TERM_EARNED_HRS,3191.0,24.0,0.061471,0.0,23.0,1.251113e+01,13.0,3.470492,11.00,15.00,19.00
SECOND_TERM_ATTEMPT_HRS,3194.0,22.0,0.060588,2.0,23.0,1.428585e+01,14.0,2.104387,13.00,16.00,19.00
HIGH_SCHL_GPA,3347.0,201.0,0.015588,0.0,4.0,3.202738e+00,3.2,0.455337,2.87,3.56,4.00
DISTANCE_FROM_HOME,3375.0,72.0,0.007353,0.0,5932.0,9.982519e+01,69.0,235.196984,69.00,138.00,666.00
FIRST_TERM_EARNED_HRS,3400.0,22.0,0.000000,0.0,21.0,1.220500e+01,13.0,2.986294,11.00,15.00,17.00
EST_FAM_CONTRIBUTION,3400.0,1236.0,0.000000,0.0,5999940.0,3.446899e+05,0.0,787187.774837,0.00,324180.00,3905646.60
COST_OF_ATTEND,3400.0,120.0,0.000000,0.0,2124900.0,5.515335e+05,150540.0,606440.325202,0.00,1192815.00,1489080.00
GROSS_FIN_NEED,3400.0,927.0,0.000000,0.0,2124900.0,3.034025e+05,0.0,483625.450816,0.00,599580.00,1418100.00
STUDENT IDENTIFIER,3400.0,3400.0,0.000000,7755837.0,8037098.0,7.897155e+06,7899052.5,80834.212657,7827039.25,7964008.00,8034112.56
FIRST_TERM_ATTEMPT_HRS,3400.0,12.0,0.000000,9.0,21.0,1.398588e+01,14.0,1.554286,13.00,15.00,18.00
STDNT_AGE,3400.0,11.0,0.000000,16.0,26.0,1.799412e+01,18.0,0.552052,18.00,18.00,19.00
RETURNED_2ND_YR,3400.0,2.0,0.000000,0.0,1.0,7.873529e-01,1.0,0.409240,1.00,1.00,1.00
SECOND_TERM,3400.0,6.0,0.000000,200602.0,201102.0,2.008710e+05,200902.0,170.001298,200702.00,201002.00,201102.00
FIRST_TERM,3400.0,6.0,0.000000,200508.0,201008.0,2.007770e+05,200808.0,170.001298,200608.00,200908.00,201008.00
UNMET_NEED,3400.0,1197.0,0.000000,-1212072.0,1632660.0,7.222052e+04,0.0,279567.921396,0.00,187615.50,883023.60